<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="pechkin:default" switchValue="All">
        <listeners>
          <add name="text" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="text" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\trace.log" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="text" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
